html {
    font-family: 'Inconsolata', monospace;
}

body {
    margin: 0;
    background-color: #efefef;
    text-align: center;
}

header {
    margin: 0;
    background-color: #333;
}

header h1 {
    font-size: 2rem;
    text-align: left;
    color: white;
    padding: 10px;
}

header a {
    text-decoration: none;
}

.topics {
    width: 1024px;
    margin: 0 auto;
}

.topics hr {
    border: 1px solid rgb(64,64,64,10%);
}

.about p {
    text-align: left;
    font-size: large;
}

.about ol {
    text-align: left;
}

footer {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 20px;
    margin-bottom: 3px;
}

footer p {
    text-align: right;
    text-shadow: 1px 1px #ccc;
}

footer ul li {
    background-color: #ddd;
    display: inline-block;
    color: #000;
    text-decoration: none;
    text-shadow: 1px 1px #ffffff;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 3px;
}

footer ul li a {
    color: black;
    text-decoration: none;
}

footer ul li:hover {
    background-color: #ccc;
}